:root {

	/* change box background color here

	--color-neutral-light: #f0ecec;
	--color-neutral-medium: #9e8d8d;
	--color-neutral-dark: #392f2f;

	*/

	--color-neutral-light: #dbebe3;
	--color-neutral-medium: #3cc47c;
	--color-neutral-dark: #1e392a;

	--color-main-light: #dbebe3;
	--color-main-medium: #3cc47c;
	--color-main-dark: #1e392a;

	--color-alt-light: #e3b8b8;
	--color-alt-medium: #cc6464;
	--color-alt-dark: #910000;

	--color-warning: #e9c893;
	--color-error: #910000;
	--color-purchase: #3cc47c;
}



body {
	font-family: 'made_evolve_sansregular', sans-serif;
	background-color: rgba(255, 255, 255, 1.0);
	padding-bottom: 10em;
}

.view-window>h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.3);
	padding: 1em;
	border-radius: 1em;
	color: #fff;
	font-size: 3em;
}

[class*='col-']>.card {
	height: 100%;
	margin: 0;
}

[class*='col-']>.well {
	height: 100%;
}

@media (max-width: 600px) {
	h2 {
		font-size: 1em;
	}
}

.product-item {
	margin: 0;
	border-radius: 0.7em;
	background-color:  #fff;
	box-shadow: 1px 1px 12px rgba(0,0,0,0.2);
	padding:  1em;
	transition: all 0.3s;
}
.product-item:hover {
	box-shadow: 1px 1px 12px rgba(0,0,0,0.4);
}
.product-image img {
	width: 100%;
}
.product-price,
.product-title {
	font-weight: normal;
}
a:hover .product-item {
	text-decoration: none !important;
}
.product-price {
	font-size: 1.2em;
	padding: 0.2em 0.4em;
}
.product-title {
	font-size: 0.9em;
}